<footer class="footer footer-center p-10 bg-secondary border-t border-2">
  <aside>
    <div class="border-1 bg-red-600 logo p-2 w-40 h-15" routerLink="/">
      <img ngSrc="/assets/images/logo.webp" alt="logo" height="916" width="3508">
    </div>
    <p class="font-bold">
      تيليتكست
    </p>
    <p>Copyright {{ currentYear }} ©  - All right reserved</p>
    <p>Developed By. <b>MohamedBoukthir</b></p>
  </aside>
  <nav>
    <div class="grid grid-flow-col gap-4">
      <a href="https://www.instagram.com/teletext_official/?hl=en" aria-label="Instagram" target="_blank">
        <fa-icon [icon]="['fab','instagram']" size="2x"></fa-icon>
      </a>
      <a href="https://www.facebook.com/teletext.tn/" aria-label="facebook" target="_blank">
        <fa-icon [icon]="['fab','facebook']" size="2x"></fa-icon>
      </a>
    </div>
  </nav>
</footer>
